:root {
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

p, h1 {
    margin: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1em 1em 2.5em;
    height: auto;
    width: auto;
    line-height: 0;
}

.card img {
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

.card-body {
    display: flex;
    justify-content: center;
    width: 288px;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 16px;
}

.card-body h1 {
    width: 256px;
    font-size: 22px;
    font-weight: 700;
    color:hsl(218, 44%, 22%);
    line-height: 26px;
    letter-spacing: 0px;
}

.card-body p {
    width: 256px;
    font-size: 15px;
    font-weight: 400;
    color:hsl(216, 15%, 48%);
    line-height: 1.4;
    letter-spacing: 0.2px;
}